# -*- coding: utf-8 -*-
# author: gatoatigrado (nicholas tung) [ntung at ntung]
# Copyright 2009 University of California, Berkeley

# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain a
# copy of the License at http://www.apache.org/licenses/LICENSE-2.0 .

Name: {{ name }}
Summary: Java frontend for UC Berkeley's SKETCH
Version: {{ version }}
Release: {{ release_number }}
Url: http://sketch.cs.berkeley.edu/
Source0: {{ sourcefile }}
License: different modules under different licenses (BSD and LGPL)
Group: Development/Tools
BuildRoot: %{_tmppath}/%{name}-%{version}-build
BuildArch: noarch

# fedora and suse name things differently
%if 0%{?fedora_version}
Requires: java-1.6.0-openjdk
BuildRequires: unzip
%endif
%if 0%{?suse_version}
Requires: java-1_6_0-openjdk
BuildRequires: fastjar
%endif

Requires: sketch-cegis
BuildRequires: lzma make

%description
SKETCH is a software synthesis tool that allows for rapid development of highly tuned bug-free algorithm implementations. To do this, the programmer develops a sketch, or partial implementation, and a separate specification of the desired functionality. The synthesizer then completes the sketch to behave like the specification. The correctness of the synthesized implementation is guaranteed by the compiler.

%doc README COPYING AUTHORS

%prep
%setup -q

%build

%install
make DESTDIR=$RPM_BUILD_ROOT install-launchers-only
install -m 644 java-build/sketch-{{ version }}-noarch.jar $RPM_BUILD_ROOT/usr/bin

%clean
rm -rf $RPM_BUILD_ROOT

%files
%defattr(755, root, root)
/usr/bin/sketch
/usr/bin/psketch
/usr/bin/stensk
%defattr(644, root, root)
/usr/bin/sketch-{{ version }}-noarch.jar

